.comment-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .comment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .comment-button:hover {
    background-color: #0062cc;
  }
  .post-card1{
      width:600px;
      margin-left: 30px;
      margin-bottom: 20px;
      margin-top: 10px;
  }
  