.card-container {
    display: flex;

    justify-content: center; /* Center the cards horizontally */
    margin-top: -20px; /* Add negative margin to counteract the margin-top of the cards */
    margin-left: 50px;
}

.profile-card {
    width: calc((100% - 60px) / 3); /* Calculate the width based on 3 cards per row with some spacing */
    height: 300px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-top: 20px; /* Add some spacing between the cards */
    background-color: #F0F0F0; /* Set a background color for the profile card */
    margin-bottom: 30px;
}

.profile-card:nth-child(3n+1) {
    margin-top: 0;
}

.profile-card:nth-child(3n+2) {
    margin-top: 40px;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.instagram-name {
    margin-bottom: 80px;
    font-size: 18px;
    text-align: center;
    color: #0095f6;
}

.profile-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;

}

.vvv {
    margin-left: 350px;

}
.vv{
    background-image: url('backg.jpg');

}
.search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

  